In [38]:
import re
import numpy as np
import pandas as pd
from collections import defaultdict

In [39]:
f = open("voters.txt")
txt = f.read()
# txt = re.sub(r'[{}]', '', txt)

In [40]:
preferences = [val.split(': ')[-1] for val in txt.split('\n')]
counts = [float(val.split(': ')[0]) for val in txt.split('\n')]

In [41]:
preferences_to_counts = {preference: count for preference, count in zip(preferences, counts)}
preferences_to_counts = defaultdict(int, preferences_to_counts)


new_preferece_counts = []
preferences_with_ties = []
for preference, count in zip(preferences, counts):
    ties = re.findall("{\d+,\d+}", preference)
    n_ties = len(ties)
    if(n_ties>0):
        print(preference)
        preferences_with_ties.append(preference)
#       we expect only one tie for each preference of alternatives
        tie = re.sub("[{}]", "", ties[0]).split(',')
        for t in tie:
            new_preferece_counts.append((re.sub(re.escape(ties[0]), t, preference), count/2))
            
for preference, extra_counts in new_preferece_counts:
    preferences_to_counts[preference] += extra_counts
for preference in preferences_with_ties:
    del preferences_to_counts[preference]

3,4,5,6,7,8,9,{1,10},2
2,4,5,7,{9,10},3,6,1,8
1,2,6,5,3,7,8,9,{10,11}
4,2,5,3,1,6,7,8,{9,10}
9,3,2,5,{1,4},6,7,8
2,8,3,4,{1,5},6,9,7
3,5,1,{7,9},8,6,4,2
3,1,2,5,6,8,{9,10}
2,4,1,{5,8},6,9

In [42]:
alternatives = [str(i) for i in range(1, 12)]
alternatives

['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11']

In [43]:
preferences = [preference.split(',') for preference in list(preferences_to_counts.keys())]
counts = list(preferences_to_counts.values())

In [44]:
df =  pd.DataFrame([counts, preferences]).T
df.rename(columns={0: 'n', 1: 'preference'}, inplace=True)

In [45]:
# has +9 new preferences due to the ties introduced
df.tail(18)

        n                    preference
1751  0.5   [3, 4, 5, 6, 7, 8, 9, 1, 2]
1752  0.5  [3, 4, 5, 6, 7, 8, 9, 10, 2]
1753  0.5   [2, 4, 5, 7, 9, 3, 6, 1, 8]
1754  0.5  [2, 4, 5, 7, 10, 3, 6, 1, 8]
1755  0.5  [1, 2, 6, 5, 3, 7, 8, 9, 10]
1756  0.5  [1, 2, 6, 5, 3, 7, 8, 9, 11]
1757  0.5   [4, 2, 5, 3, 1, 6, 7, 8, 9]
1758  0.5  [4, 2, 5, 3, 1, 6, 7, 8, 10]
1759  0.5      [9, 3, 2, 5, 1, 6, 7, 8]
1760  0.5      [9, 3, 2, 5, 4, 6, 7, 8]
1761  0.5      [2, 8, 3, 4, 1, 6, 9, 7]
1762  0.5      [2, 8, 3, 4, 5, 6, 9, 7]
1763  0.5      [3, 5, 1, 7, 8, 6, 4, 2]
1764  0.5      [3, 5, 1, 9, 8, 6, 4, 2]
1765  0.5         [3, 1, 2, 5, 6, 8, 9]
1766  0.5        [3, 1, 2, 5, 6, 8, 10]
1767  0.5            [2, 4, 1, 5, 6, 9]
1768  0.5            [2, 4, 1, 8, 6, 9]

In [46]:
# number of total voters
df.n.sum()

2477.0

In [53]:
def get_p_scores(df, alternatives):
    scores = {}
    for a in alternatives:
        scores[a] = 0
    for index, row in df.iterrows():
        if(len(row.preference) > 0):
            scores[row.preference[0]] += int(row.n)
    return scores

def get_score_alternatives(scores, mode):
    mode_score = min(scores, key=scores.get)
    if(mode == 'max'):
        mode_score = max(scores, key=scores.get)
    mode_score_alternatives = [i for i, val in scores.items() if val == scores[mode_score]]
    return mode_score_alternatives

def remove_alternatives(df, alternatives):
    df.preference = df.apply(lambda x: list(set(x.preference).difference(set(alternatives))), axis=1)
    return df

def STV(df, alternatives):
    votes_df = df.copy()
    scores = get_p_scores(votes_df, alternatives)
    while(len(alternatives)>0):
        scores = get_p_scores(votes_df, alternatives)
        print(scores)
        min_p_alternatives = get_score_alternatives(scores, 'min')
        alternatives = list(set(alternatives).difference(set(min_p_alternatives)))
        if(len(alternatives)==0):
            print("Reached a decision")
            break
        print('removing alternatives', min_p_alternatives)
        votes_df = remove_alternatives(votes_df, min_p_alternatives)
        print(votes_df)
    return list(scores.keys())

In [54]:
STV(df, alternatives)

{'1': 246, '2': 453, '3': 412, '4': 384, '5': 352, '6': 27, '7': 94, '8': 463, '9': 37, '10': 0, '11': 0}
removing alternatives ['10', '11']
         n                preference
0     31.0                    [3, 8]
1     30.0                    [4, 2]
2     27.0                       [3]
3     24.0                    [4, 2]
4     23.0                       [8]
...    ...                       ...
1764   0.5  [4, 9, 1, 8, 2, 5, 3, 6]
1765   0.5     [9, 1, 8, 2, 5, 3, 6]
1766   0.5        [1, 8, 2, 5, 3, 6]
1767   0.5        [4, 9, 1, 2, 5, 6]
1768   0.5        [4, 9, 1, 8, 2, 6]

[1769 rows x 2 columns]
{'4': 1281, '9': 151, '1': 169, '8': 51, '7': 47, '2': 17, '5': 480, '3': 266, '6': 6}
removing alternatives ['6']
         n             preference
0     31.0                 [3, 8]
1     30.0                 [4, 2]
2     27.0                    [3]
3     24.0                 [4, 2]
4     23.0                    [8]
...    ...                    ...
1764   0.5  [4, 9, 1, 8, 2, 5, 3]
1765   0.5     [9, 1, 8, 2, 5, 3]
1766   0.5        [1, 8, 2, 5, 3]
1767   0.5        [4, 9, 1, 2, 5]
1768   0.5        [4, 9, 1, 8, 2]

[1769 rows x 2 columns]
{'4': 1262, '9': 159, '1': 171, '8': 46, '7': 48, '2': 18, '5': 497, '3': 265}
removing alternatives ['2']
         n          preference
0     31.0              [3, 8]
1     30.0                 [4]
2     27.0                 [3]
3     24.0                 [4]
4     23.0                 [8]
...    ...                 ...
1764   0.5  [4, 9, 1, 8, 5, 3]
1765   0.5     [9, 1, 8, 5, 3]
1766   0.5        [5, 1, 8, 3]
1767   0.5        [9, 1, 4, 5]
1768   0.5        [9, 1, 4, 8]

[1769 rows x 2 columns]
{'4': 1155, '9': 181, '1': 151, '8': 44, '7': 60, '5': 568, '3': 289}
removing alternatives ['8']
         n       preference
0     31.0              [3]
1     30.0              [4]
2     27.0              [3]
3     24.0              [4]
4     23.0               []
...    ...              ...
1764   0.5  [4, 9, 1, 5, 3]
1765   0.5     [9, 1, 3, 5]
1766   0.5        [5, 1, 3]
1767   0.5     [9, 1, 4, 5]
1768   0.5        [9, 1, 4]

[1769 rows x 2 columns]
{'4': 1072, '9': 212, '1': 140, '7': 31, '5': 642, '3': 313}
removing alternatives ['7']
         n       preference
0     31.0              [3]
1     30.0              [4]
2     27.0              [3]
3     24.0              [4]
4     23.0               []
...    ...              ...
1764   0.5  [4, 9, 1, 5, 3]
1765   0.5     [9, 1, 3, 5]
1766   0.5        [5, 1, 3]
1767   0.5     [9, 1, 4, 5]
1768   0.5        [9, 1, 4]

[1769 rows x 2 columns]
{'4': 989, '9': 269, '1': 140, '5': 668, '3': 313}
removing alternatives ['1']
         n    preference
0     31.0           [3]
1     30.0           [4]
2     27.0           [3]
3     24.0           [4]
4     23.0            []
...    ...           ...
1764   0.5  [9, 3, 4, 5]
1765   0.5     [9, 3, 5]
1766   0.5        [5, 3]
1767   0.5     [9, 4, 5]
1768   0.5        [9, 4]

[1769 rows x 2 columns]
{'9': 1078, '3': 313, '4': 256, '5': 668}
removing alternatives ['4']
         n preference
0     31.0        [3]
1     30.0         []
2     27.0        [3]
3     24.0         []
4     23.0         []
...    ...        ...
1764   0.5  [9, 3, 5]
1765   0.5  [9, 3, 5]
1766   0.5     [5, 3]
1767   0.5     [9, 5]
1768   0.5        [9]

[1769 rows x 2 columns]
{'9': 1078, '3': 313, '5': 668}
removing alternatives ['3']
         n preference
0     31.0         []
1     30.0         []
2     27.0         []
3     24.0         []
4     23.0         []
...    ...        ...
1764   0.5     [9, 5]
1765   0.5     [9, 5]
1766   0.5        [5]
1767   0.5     [9, 5]
1768   0.5        [9]

[1769 rows x 2 columns]
{'9': 1078, '5': 668}
removing alternatives ['5']
         n preference
0     31.0         []
1     30.0         []
2     27.0         []
3     24.0         []
4     23.0         []
...    ...        ...
1764   0.5        [9]
1765   0.5        [9]
1766   0.5         []
1767   0.5        [9]
1768   0.5        [9]

[1769 rows x 2 columns]
{'9': 1126}
Reached a decision

['9']